{% extends 'base.html' %}

{% block content %}
{% include 'SAnavbar.html' %}
<h1>Applicants for {{scholarship_object.scholarship_name}}</h1>
    <form method="get" action="{% url 'application_listy' scholarship_object.id %}" class="mb-3">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search Applicants" name="q" value="{{ request.GET.q }}">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>
      <table class="table table-hover ">
        <thead class="table-dark">
          <tr>
            <th>Scholarship Applied To</th>
            <th>Student Name</th>
            <th>GPA</th>
            <th>Major</th>
            <th>Minor</th>
            <th>Current Year</th>
            <th>Initial Review Status</th>
            <th> </th>
          </tr>
        </thead>
        <tbody style="vertical-align: middle;">
          {% for object in applications %}
              {% if object.stauts == 'In Review' %}
                  <tr>
                  <td>{{object.scholarship.scholarship_name}}</td>
                  <td>{{ object.student.student_info.First_name}} {{ object.student.student_info.Last_name}}</td>
                  <td>{{ object.student.gpa }}</td>
                  <td>{{ object.student.major }}</td>
                  <td>{{ object.student.minor }}</td>
                  <td>{{ object.student.current_year}}</td>
                  <td>{{ object.sr_status}}</td>
                  <td>
                      <a class="btn btn-success" href="{% url 'review_application' object.pk object.scholarship.id%}" role="button">Review Application</a>
                      </td>
                  </tr>
              {% endif %}
        {% endfor %}    
      </table>
  </div>
{% endblock %}