{% extends 'base.html' %}

{% block content %}
{% include 'SDnavbar.html' %}
<div class="container bg-white text-black justify-content-center align-items-center">
    <h1>Change Request for {{scholarship.scholarship_name}}</h1>
    <p>Request changes to the scholarship</p>

    <form method="POST" action="{% url 'createChangeRequest' scholarship.id %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Request Changes</button>
        <a href="{% url 'SDhome' %}" class = "btn btn-info">Back</a>
    </form>
</div>
{% endblock %}