
{% block content %}
<head>
</head>
<body>
  <!-- Modal -->
  <div class="modal fade" id="scholarshipModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <h5 style="text-align: center">Requirements:</h3>
        <div style="text-align: center" class="modal-body"></div>
        <div style="text-align: center">The minimum GPA for this scholarship is <p style="display: inline" class="modal-gpa"></p></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
