
{% extends 'base.html' %}

{% block content %}
{% include 'SDnavbar.html' %}
<body>
  <div id="click_modal" style="display:none;"></div>
  <h1 style="text-align:center;">Donor Page</h1>
  <hr>
  <div>
    <table class="table table-hover ">
      <thead class="table-dark">
        <tr>
          <th>Scholarship Name</th>
          <th>Scholarship Amount</th>
          <th>Number of Scholarships</th>
          <th>Deadline</th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody style="vertical-align: middle;">
        {% for scholarship in scholarships %}
        {% if scholarship.donor_email == currentUser.email %}
          <tr>
            <td>{{ scholarship.scholarship_name }}</td>
            <td>${{ scholarship.scholarship_amount }}</td>
            <td>{{ scholarship.num_scholarships_available }}</td>
            <td>{{ scholarship.application_deadline }}</td>
            <td>
              <a href="{% url 'EditScholarshipView' scholarship.id %}" class="btn btn-success open-incident" role="button">Edit</a>
            </td>
            <td>
              <a href="{% url 'ViewApplicantsSD'  scholarship.id %}" class="btn btn-success open-incident" role="button">Applications</a>
            </td>
          </tr>
        {% endif %}
        {% endfor %}
    </table>
        
  </div>
</body>
{% endblock %}
