{% extends 'base.html' %}

{% block content %}
<head>

</head>
<body>
  <h1 style="text-align:center;">Donor Page</h1>
  <hr>
  <div>
    <table class="table table-hover ">
      <thead class="table-dark">
        <tr>
          <th>Scholarship Name</th>
          <th>Max per candidate</th>
          <th>Total</th>
          <th>Date Created</th>
          <th> </th>
        </tr>
      </thead>
      <tbody style="vertical-align: middle;">
        {% for scholarship in scholarships %}
          <tr>
            <td>{{ scholarship.name }}</td>
            <td>${{ scholarship.maxAward }}</td>
            <td>${{ scholarship.totalAvail }}</td>
            <td>{{ scholarship.dateCreated }}</td>
            <td><button class="btn btn-success">More</button></td>
          </tr>
        {% endfor %}
    </table>
  </div>
</body>
{% endblock %}