{% extends 'base.html' %}

{% block content %}
<h1>Applications</h1>
<table class="table table-hover ">
    <thead class="table-dark">
      <tr>
        <th>Scholarship Name</th>
        <th>Award Amount</th>
        <th>Donor</th>
        <th>Application Status</th>
        <th> </th>
      </tr>
    </thead>
    <tbody style="vertical-align: middle;">
      {% for object in application_object %}
      <tr>
        <td>{{ object.scholarship.scholarship_name }}</td>
        <td>${{ object.scholarship.scholarship_amount }}</td>
        <td>{{ object.scholarship.donor_full_name }}</td>
        <td>{{ object.stauts }}</td>
        </tr> 
      {% endfor %}
  </table>
</div>
{% endblock %}