{% extends 'base.html' %}

{% block content %}
<h1>Applications</h1>
<table class="table table-hover ">
    <thead class="table-dark">
      <tr>
        <th>Scholarship Name</th>
        <th>Award Amount</th>
        <th>Donor</th>
        <th>Application Status</th>
        <th> </th>
      </tr>
    </thead>
    <tbody style="vertical-align: middle;">
      <tr>
        <td>Scholarship 1</td>
        <td>$1000</td>
        <td>University of Arizona</td>
        <td>Applied</td>
        </tr> 
  </table>
</div>
{% endblock %}