{% extends 'base.html' %}

{% block content %}
<h1>{{currentUser.First_name}}'s Profile</h1>
<h4>Name</h4>
<p>{{curentUser.First_name}} {{currentUser.Last_name}}</p>
<h4>Username</h4>
<p>{{currentUser.username}}</p>
<h4>Password</h4>
<p>*******</p>
<h4>NetID</h4>
<p>{{currentUser.Net_ID}}</p>
<h4>Preferred Pronouns</h4>
<h4>Ethnicity</h4>
<h4>Email</h4>
<h4>Phone Number</h4>
<h4>Year</h4>
<h4>Major</h4>
<h4>Minor</h4>
<h4>GPA</h4>
<h4>Security Question 1</h4>
<h4>Answer</h4>
<h4>Security Question 2</h4>
<h4>Answer</h4>

{% endblock %}