{% extends 'base.html' %}

{% block content %}
<h2>Application for {{scholarship.scholarship_name}}</h2>
    <form method="POST" action="{% url 'createApplication' scholarship.id %}">
        {% csrf_token %}
        <label for"f_name">Full Name (required):</label><br>
        <p>{{user.First_name}} {{user.Last_name}}</p>
      
        <label for"major">Major (required): </label><br>
        <p>{{student.major}}</p>
        <label for"minor">Minor (optional): </label><br>
        <p>{{student.minor}}</p>
        <label for"c_gpa">Cumulative GPA (required): </label><br>
        <p>{{student.gpa}}</p>
        <label for"curr_year">Current Year (required): </label><br>
        <p>{{student.current_year}}</p>

        <label for"w_experience">Work Experience (optional): </label><br>
        <p>{{student.work_experience}}</p>
        <h3>Cover Letter</h3> 
        {{ form.personal_statement }}

        <br>
        <br>

        <button class="btn btn-success" type="submit">Submit Application</button>
        
        <br>
        <br>
    </form>
{% endblock %}