{% extends 'base.html' %}

{% block content %}
<h2>Application for {{scholarship.scholarship_name}}</h2>
    <form>
        <label for"f_name">Full Name (required):</label><br>
        <p>{{user.First_name}} {{user.Last_name}}</p>
        <label for"pronoun">Preferred Pronouns (optional):</label><br>
        <p>{{student.preferred_pronoun}}</p>
        <label for"major">Major (required): </label><br>
        <p>{{student.major}}</p>
        <label for"minor">Minor (optional): </label><br>
        <p>{{student.minor}}</p>
        <label for"c_gpa">Cumulative GPA (required): </label><br>
        <p>{{student.gpa}}</p>
        <label for"curr_year">Current Year (required): </label><br>
        <p>{{student.current_year}}</p>
        <label for"ethnicity">Ethnicity (required): </label><br>
        <p>{{student.ethnicity}}</p>
        <label for"p_statement">Personal Statement Essay (required): </label><br>
        <p>{{student.personal_statement_essay}}</p>
        <label for"w_experience">Work Experience (optional): </label><br>
        <p>{{student.work_experience}}</p>
        <a class="btn btn-success" href=# role="button">Submit Application</a>
        <br>
        <br>
    </form>
{% endblock %}