{% extends 'base.html' %}

{% block content %}
{% include 'ARnavbar.html' %}
<div class="m-2 p-2 container-fluid bg-white text-black">
    </div>
        <div class="container">
            <h3>Generated Reports</h3>
            <hr>
            <div class="row">
              <div class="col">
                Reviews:
                <br>
                <a href="#" class="link-primary">Completed Application Reviews</a>
                <br>
                <a href="#" class="link-primary">Incomplete Application Reviews</a>
                <br>
                <br>
                <br>
              </div>
              <div class="col">
                Summary Reports:
                <br>
                <a href="#" class="link-primary">Assessment Distribution</a>
                <br>
                <a href="#" class="link-primary">Applicant Ratings Summary</a>
                <br>
                <br>
                <br>
            </div>
            <div class="col">
                Matching Reports:
                <br>
                <a href="#" class="link-primary">Applications with Mismatched Criteria</a>
                <br>
                <a href="#" class="link-primary">Applicant Matching Summary</a>
                <br>
                <a href="#" class="link-primary">Recommendation Summary by Matching Criteria</a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}
