{% extends 'base.html' %}

{% block content %}
<h1>Reviewed Applications</h1>
<table class="table table-hover ">
    <thead class="table-dark">
      <tr>
        <th>Student Name</th>
        <th>GPA</th>
        <th>Major</th>
        <th>Minor</th>
        <th>Current Year</th>
        <th>Score</th>
        <th>Administrative Status</th>
      </tr>
    </thead>
    <tbody style="vertical-align: middle;">
      {% for object in application_object %}
          {% if object.sr_status == 'Approved' or object.sr_status == 'Rejected'%}
              <tr>
              <td>{{ object.student.student_info.First_name}} {{ object.student.student_info.Last_name}}</td>
              <td>{{ object.student.gpa }}</td>
              <td>{{ object.student.major }}</td>
              <td>{{ object.student.minor }}</td>
              <td>{{ object.student.current_year}}</td>
              <td>{{ object.score}}</td>
              <td>{{object.stauts}}</td>
          {% endif %}
      {% endfor %}  
  </table>
</div>
{% endblock %}