{% extends 'base.html'%}
{% block content %}
<h1>Student Application</h1>
<ul class="list-group">
    <li class="list-group-item"><b>Name: </b>{{ application_object.student.student_info.First_name}} {{application_object.student.student_info.Last_name}}</li>
    <li class="list-group-item"><b>GPA: </b>{{ application_object.student.gpa}}</li>
    <li class="list-group-item"><b>Major: </b>{{ application_object.student.major}}</li>
    <li class="list-group-item"><b>Minor: </b>/{{ application_object.student.minor}}<li>
    <li class="list-group-item"><b>Current year: </b>{{ application_object.student.current_year}}</li>
    <li class="list-group-item"><b>Personal statement: </b>{{ application_object.student.personal_statement}}</li>
    <li class="list-group-item"><b>PK: </b>{{ application_object.pk }}</li>
</ul>
<br>
<h1>Scholarship Requirements</h1>
<ul class="list-group">
  <li class="list-group-item"><b>Name: </b>{{ scholarship_object.scholarship_name}} </li>
  <li class="list-group-item"><b>GPA Requirement: </b>{{ scholarship_object.required_gpa}}</li>
  <li class="list-group-item"><b>Major/Minor Requirements: </b>{{ scholarship_object.required_majors_or_minors}}</li>
  <li class="list-group-item"><b>Application Deadline: </b>{{ scholarship_object.application_deadline }}</li>
  <li class="list-group-item"><b>Other requirements: </b>{{ scholarship_object.other_requirements}}</li>
</ul>
  <br>

  <h1>Scoring</h1>
  <form action="{% url 'review_submit' application_id=application_object.pk %}" method="POST">
    {% csrf_token %}
    <label for="score">Score (0-100):</label>
    <input type="number" id="score" name="score" min="0" max="100" required>
    
    <label for="approval">Approval:</label>
    <select id="approval" name="approval" required>
        <option value="approve">Approve Application</option>
        <option value="reject">Reject Application</option>
    </select>
    
    <button type="submit">Submit</button>
  </form>
  <br>
  <br>
  <br>

{% endblock %}