{% extends 'base.html' %}

{% block content %}
<h1>Scholarships</h1>
  <form method="get" action="{% url 'scholarship_list' %}" class="mb-3">
  <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search Scholarships" name="q" value="{{ request.GET.q }}">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>
  </form>
    <table class="table table-hover ">
      <thead class="table-dark">
        <tr>
          <th>Scholarship Name</th>
          <th>Award Amount</th>
          <th>Required Major/Minor</th>
          <th>Donor</th>
          <th>Application Deadline</th>
          <th> </th>
        </tr>
      </thead>
      <tbody style="vertical-align: middle;">
        {% for object in scholarships_object %}
        <tr>
          <td>{{ object.scholarship_name }}</td>
          <td>{{ object.scholarship_amount }}</td>
          <td>{{ object.required_majors_or_minors }}</td>
          <td>{{ object.donor_full_name }}</td>
          <td>{{ object.application_deadline}}</td>
          <td>
              <a class="btn btn-success" href="{% url 'ViewApplicants' object.id %}" role="button">More</a>
            </td>
          </tr>
        {% endfor %}  
    </table>
  </div>
{% endblock %}